<h1>Welcome to CSE Motors!</h1>
<div id="hero-box">
    <div id="delorean-details">
        <h2>DMC Delorean</h2>
        <h3>3 Cup Holders</h3>
        <h3>Superman Doors</h3>
        <h3>Fizzy Dice!</h3>
        <img src="images/site/own_today.png" alt="A blue box with the words own today written inside.">
    </div>
</div>
<div id="lower-box">
        <div id="review-box">
        <h1> DMC Delorean Reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div id="upgrade-box">
        <h1>Delorean Upgrades</h1>
        <div id="upgrade-grid">
            <a href="/">
                <div class="upgrade-background">
                    <img src="images/upgrades/flux-cap.png" alt="A flux capacitor buzzing with electricity" height="80">
                </div>
                <span>Flux Capacitor</span>
            </a>
            <a href="/">
                <div class="upgrade-background">
                    <img src="images/upgrades/flame.jpg" alt="A simple red and orange flame" height="80">
                </div>
                <span>Flame Decals</span>
            </a>
            <a href="/">
                <div class="upgrade-background">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="a car bumper sticker saying hello world" height="80">
                </div>
                <span>Bumper Stickers</span>
            </a>
            <a href="/">
                <div class="upgrade-background">
                    <img src="images/upgrades/hub-cap.jpg" alt="a simple silver hub cap" height="80">
                </div>
                <span>Hub Caps</span>
            </a>
        </div>
    </div>
</div>