/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-font-family: 'Space Grotesk';
  --primary-color-1: #25ffd4;
  --primary-color-2: #000000;
  --primary-color-3: #363946;
  --primary-color-4: #a9d3ff;
}

body { 
  background-color: var(--primary-color-3);
}
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
  background-color: var(--primary-color-3);
}
.siteName a {
  text-decoration: none;
  font-size: xx-large;
}

#tools a:visited, .siteName a:visited{
  color: var(--primary-color-1);
  text-decoration: none;
}

#tools a{
  text-align: right;
  color: var(--primary-color-2);
  text-decoration: none;
 }

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0px;
}


nav ul li {
  padding: 10px;
  flex-grow: 1;
  background-color: var(--primary-color-3);
  color: var(--primary-color-1);
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color-1);
}
nav ul li a:visited {
  color: var(--primary-color-1);
  text-decoration: none;
}

body {
  font-family: var(--main-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  background-color: white;
  color: var(--primary-color-2);
  padding: 1%;
  width: 90%
}

#hero-box {
  background-image: url('../images/vehicles/delorean.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#delorean-details {
  color: var(--primary-color-1);
  background-color: rgba(255, 255, 255, .4);
  max-width: 40%;
  padding-left: 20px;
  margin-left: 5%;
  text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         2px  2px 0 #000;
}

#delorean-details img {
  width: 80%;
}


#review-box ul li {
  margin-bottom: 5px;
  font-size: large;
}

#upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.upgrade-background {
  background-color: var(--primary-color-1);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* These CSS rules are for the "sorted by inventory" screen, on Mobile*/

#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  gap: 10px;
  padding: 0px;
  background-color: var(--primary-color-3);
  padding-top: 5%;
}

#inv-display li {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#inv-display li a img {
  width: 90%;
}

.namePrice {
  color: var(--primary-color-1);
  padding: 2%;
}

.namePrice h2{
  margin: 0px;
}

.namePrice h2 a {
  text-decoration: none;
  color: var(--primary-color-1);
}

.namePrice h2 a:hover {
  text-decoration: none;
  color: var(--primary-color-1);
}

/* These CSS rules are for the "vehicle details" screen, on Mobile*/

#vehicleDetailsMain {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color-3);
  color: var(--primary-color-1);
  padding: 5%;
}

#vehicleDetailsImg img {
  width: 90%; 
}

#vehicleDetailsText {
  text-align: left;
}

#vehiclePrice {
  text-align: center;
  border: 1px solid var(--primary-color-1);
  border-radius: 5px;
}

form {
  margin: 1% 2%;
  background-color: var(--primary-color-3);
  padding: 2%;
  border-radius: 5px;
}

form label {
  display: block;
  font-size: 20px;
  color: var(--primary-color-1);
  padding-top: .2rem;
}

form input[type=email], input[type=password], input[type=text], select{
  display: block;
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #999;
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color: #555;
  font-size: 1rem;
  color: #3D405B;
  width: 40%;
}


form button {
  border: none;
  text-align: center;
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
  border-radius: 10px;
  padding: .75rem 1.5rem;
  margin: 15px 0;
  font-size: 20px;
  width: 40%;
}

form p {
  margin-top: -20px;
  color: var(--primary-color-1);

}

form a {
  color: var(--primary-color-4);
}

#managementBox {
  display: flex;
  flex-direction: column;
}

/* These rules are for the Desktop version*/
@media screen and (min-width: 640px) {

  body {
    background-image: url('../images/site/small_check.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

  #wrapper {
    max-width: 95%;
    min-width: 80%;
    padding: 20px;
    border: 6px solid var(--primary-color-3);
    border-radius: 10px;
  }

  #lower-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }

  #review-box {

    grid-column: 2;
    grid-row: 1;
  }

  #review-box ul li {
    margin-bottom: 5px;
    font-size: large;
}

  #upgrade-box {
    grid-column: 1;
    grid-row: 1;
  }

  /* These CSS rules are for the "sorted by inventory" screen, on Desktop*/

  #inv-display {
    grid-template-columns: repeat(3, 1fr);
  }

  /* These CSS rules are for the "vehicle details" screen, on Desktop*/

  #vehicleDetailsMain {
    grid-template-columns: 1fr 1fr;
  }
}