<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <% messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form action="/inv/newclass" method="post">
                        <label for="classification">New Classification</label>
                        <input type="text" id="classification" name="classification" pattern="^[a-zA-Z]+$" required
                            value=<%=locals.classification %>>
                        <p>Classifications must not contain spaces or special characters of any kind</p>

                        <button type="submit" id="addClassificationButton">Add Classification</button>
                    </form>
                    <script src="/js/script.js"></script>